<div class="" style="max-width:1200px; margin: 0 auto;margin-top:150px">
  <br><br>

<div *ngIf="!verified" class="alert alert-warning">Tu solicitud ha caducado, vuelve a solicitar la recuperación de la contraseña</div>

  <div class="wrap-login100 p-t-50 p-b-90 " *ngIf="true">
    <h1>INTRODUCE LA NUEVA CONTRASEÑA </h1>
    <form class="login100-form validate-form flex-sb flex-w" (ngSubmit)="onSubmit( registroForm)"
      #registroForm="ngForm" >


      <span *ngIf="registroForm.submitted && registroForm.controls['password'].errors"
        class="text-danger animated fadeIn"> El pass tiene que tener mínimo 4 letras
      </span>
      <div class="wrap-input100 ">
        <input class="input100 form-control" type="password" name="password" placeholder="password"
          [(ngModel)]="usuario.password" required minlength="4">

        <span class="focus-input100"></span>
      </div>

      <span *ngIf="passwordOk === false"
      class="text-danger animated fadeIn"> Las contraseñas no coinciden
    </span>
    <div class="wrap-input100 ">
      <input class="input100 form-control" type="password" name="confirmPassword" placeholder="Confirm password"
        [(ngModel)]="confirmPassword" required minlength="4">

      <span class="focus-input100"></span>
    </div>
      <br>

      <br>
      <button class="btn btn-primary" >Enviar</button>

    </form>
  </div>


</div>

