/* You can add global styles to this file, and also import other style files */
.main-container{ margin-top: 0px!important;}
p {
    margin-bottom: 0.3rem;
}

.regular {
    font-weight: 300;
}

.width-150 {
    width: 150px
}
/* body{background-color: #f5f5f5; background-image: url("./assets/images/bg3.png") ; background-size:cover; background-position:left 300px;} */
body{background-color: #ffffff;font-family: 'Montserrat', sans-serif;}
.w-90{width:90%}
.tic{margin-left: 10px; float:right; display: block;}
.container{width:100%; background-color: white; border-radius: 10px; padding:0px;}
.imgRuta{width:70px; margin-left: 50px; margin-top: -25px;}
.imgH1{width:70px; margin-left: 10px; margin-top: -25px;}
.titCard{ border-bottom: 1px solid #B0CCCA; padding-bottom: 10px; margin-bottom: 10px; }
input.centro{border: 1px solid #c1c1c1; border-radius: 0px;font-weight: 600;}
.formTitle{font-weight:400; color: #000; margin-bottom: 10px; display: block; }
select {padding:15px; border:1px solid #b8b8b8; border-radius: 0px; background: rgb(255, 255, 255);  box-sizing: content-box; font-weight:600}
.select option{line-height:2em}


.relleno{border:1px solid #209944!important; background: rgb(245, 255, 249);}
h1{margin-bottom: 20px;font-size:30px}
 .navbar{background-color: white; color: #222; padding:35px!important; font-size:1rem; border-bottom: 1px dotted rgb(37, 37, 37); min-width:1200px}
 .navbar-light .navbar-nav .nav-link {
  color: rgba(26, 26, 26, 0.8);
  padding: 10px;
  font-weight: 600;
}
.navbar ul{align-items: center}
.navbar ul li:first-child,.navbar ul li:last-child{margin-right:50px}
.navbar-light .navbar-nav .nav-link:hover {
  color:white;
  background: #2479d3;
  padding: 10px;

}

.nav-item a:hover{color:black}
.navbar a{color:white; padding: 0px 100px; letter-spacing: 0.01rem; margin-left: 20px;}
.nav-item.active {background-color: white;}
.nav-item.active a {color:#0d6efd;}
.navbar{padding:10px 100px}
.imgButton{margin-top: -3px}
.card-body{padding: 1.5rem}

select[selected]{ opacity:0}
select:disabled{opacity:0.5}
select.ng-valid.ng-touched{
  /* border:1px solid rgb(47, 201, 55) ;
  background:rgb(211, 238, 212); */
}
.errorInput{
  border:1px solid rgb(223, 39, 39) ;
  background:rgb(253, 222, 222);
}

.btn{border-radius: 0;}

@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100%!important;
}}


/**************LOGIN**************************/
/********************************************/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.form-signin {
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}
html,
body {
height: 100%;
}

/* body {
display: flex;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
background-color: #f5f5f5;
} */

.form-signin {
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}

.form-signin .checkbox {
font-weight: 400;
}

.form-signin .form-floating:focus-within {
z-index: 2;

}

.form-signin input[type="email"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

/******medias*******/

@media only screen and (max-width:768px) {
  .container{width:100%; background-color: white; border-radius: 10px; padding:15px;}
}



/**** CARDS ******/

.card p, .card h5{padding-top: 6px;}
.card h5{margin-top:5px}
.card{ padding: 15px;}



.select-css {
  display: block;
  line-height: 1.3;
  padding: 18px;

  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .8em auto, 100%;
 }
 .select-css::-ms-expand {
  display: none;
 }
 .select-css:hover {
  border-color: #888;
 }
 .select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
 }
 .select-css option {
  font-weight:normal;
 }
